<html>

<head>
    <title>Javascript Login Form Validation</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="http://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
        crossorigin="anonymous">
    <link rel="stylesheet" href="./stylesheets/style.css">

</head>
<script>
    var username = window.location.search.substring(1).split("=")[1];
    var selected_val;


    $(document).ready(function () {
        $("#save").click(function (e) {
            var quantity = $("#quantity").val();
            var selected_val = $("#cat_select option:selected").val();
            var date_fulfil = $("#dateofff").val();

            alert("Entered values are: Quantity: " + quantity + ", Category: " + selected_val + ", Date OFF: " + date_fulfil + ", User: " + username);

            // TODO.. Call API to create a need
        });
        $("#back_to_home_page").click(function (e) {
            window.location = "../menu?username=" + username;
        });
    });
</script>

<body class="body">
    <div class="container">
        <div class="main">
            <div id="header" class="header">
                NGO Collaboration System - Create Need
            </div>
            <br>
            <form id="form_id" method="post" name="myform">
                <table style="border-spacing: 2cm">
                    <tr>
                        <td style="text-align: left">
                            Select Category:
                        </td>
                        <td>
                            <select id="cat_select" style="width: 100%">
                                <option value="Cat1">Cat1</option>
                                <option value="Cat2">Cat2</option>
                                <option value="Cat3">Cat3</option>
                                <option value="Other">Other</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: left">
                            Enter Quantity:
                        </td>
                        <td>
                            <input type="text" name="Quantity" id="quantity" />
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: left">
                            Expected date of fulfillment:
                        </td>
                        <td>
                            <input type="text" name="dateofff" id="dateofff" />
                        </td>
                    </tr>
                </table>
                <br>
                <table style="width: 40%">
                    <tr>
                        <td style="text-align: left">
                            <input style="text-align: left" type="button" class="pledgeButton" value="Back to Home Page" id="back_to_home_page" />
                        </td>
                        <td>
                            <input style="text-align: right" type="button" class="pledgeButton" value="Save" id="save" />
                        </td>
                    </tr>
                </table>
            </form>
            <br>

        </div>
    </div>
</body>

</html>